$border: 0.2em solid #000;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pulsating-and-rotating-loader {
  height: 3.75em;
  width: 3.75em;
  div {
    box-sizing: border-box;
    padding: 0.4em;
    width: 100%;
    height: 100%;
    border: $border;
    border-radius: 100vw;
    animation-name: puls;
    animation-timing-function: cubic-bezier(0, 0.5, 1, 1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform: scale(0);
    opacity: 1;
    div {
      border-radius: 100vw;
      border-top: $border;
      border-right: 0.2em solid transparent;
      border-bottom: 0.2em solid transparent;
      border-left: 0;
      animation-timing-function: linear;
      animation-name: spin;
      animation-duration: 0.4s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes puls {
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
